<%= form_for [:admin, route], html: { style: "display: #{ hidden ? 'none' : 'block' }" } do |form| %>
    <%= render 'common/errors', resource: route%>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :route_title %>
    </div>

    <div class="actions">
      <%= form.submit 'Отправить' %>
    </div>
<% end %>
