<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Текущая станция:</strong>
  <% if @train.current_station.present? %>
      <%= @train.current_station.title %>
  <% else %>
      Не указано
  <% end %>
</p>

<% if @train.route.present? %>
    <p>
      <strong>Поезду назначен следующий маршрут:</strong> <%= @train.route.title %></p>
<% else %>
    <p>Маршрут не назначен</p>
<% end %>

<% if @train.carriages.empty? %>
    <p>У поезда нет вагонов</p>
<% else %>
    <p><strong>Вагоны:</strong></p>
    <ul>
    <% if @train.sort_flag %>
          <% @train.carriages.sorted('ASC').each do |carriage| %>
              <li><%= link_to carriage.number, carriage_path(carriage)  %></a></li>
          <% end %>
    <% else %>
          <% @train.carriages.sorted('DESC').each do |carriage| %>
              <li><%= link_to carriage.number, carriage_path(carriage) %></a></li>
          <% end %>
    <% end %>
    </ul>
    <ul>
      <li>Купе: <%= @train.count_carriages('Купе') %></li>
      <li>Плацкарт: <%= @train.count_carriages('Плацкарт') %></li>
    </ul>
    <p><strong>Места купе:</strong></p>
    <ul>
      <li>Верхние: <%= @train.count_seats('Купе', 'top_seats') %></li>
      <li>Нижние: <%= @train.count_seats('Купе', 'bottom_seats')  %></li>
    </ul>
    <p><strong>Места плацкарт</strong></p>
    <ul>
      <li>Верхние: <%= @train.count_seats('Плацкарт', 'top_seats') %></li>
      <li>Нижние: <%= @train.count_seats('Плацкарт', 'bottom_seats')  %></li>
    </ul>
<% end %>


<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
