<%= form_for(@ticket) do |form| %>
    <%= render 'common/errors', resource: @ticket %>

    <%= form.hidden_field :start_station_id %>
    <%= form.hidden_field :last_station_id %>
    <%= form.hidden_field :train_id %>

    <div class="field">
      <%= form.label :full_name, 'ФИО' %>
      <%= form.text_field :full_name %>
    </div>

    <div class="field">
      <%= form.label :passport_num, 'Номер паспорта' %>
      <%= form.text_field :passport_num %>
    </div>

    <div class="actions">
      <%= form.submit 'Отправить' %>
    </div>
<% end %>
