<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @carriage.number %>
</p>
<% if @carriage.type == 'CoupeCarriage' %>
    <%= render 'coupe_carriage', carriage: @carriage %>
<% elsif @carriage.type == 'EconomyCarriage' %>
    <%= render 'economy_carriage', carriage: @carriage %>
<% elsif @carriage.type == 'SvCarriage' %>
    <%= render 'sv_carriage', carriage: @carriage %>
<% end %>

<%= link_to 'Назад', @carriage.train %>
