<h1>Поиск билета</h1>

<%= form_tag search_path do %>
  <div class="field">
    <%= label_tag(:departure_station, 'Станция отправления') %>
    <%= select_tag :departure_station, options_from_collection_for_select(RailwayStation.all, :id, :title) %>
  </div>
  <div class="field">
    <%= label_tag(:arrival_station, 'Станция прибытия') %>
    <%= select_tag :arrival_station, options_from_collection_for_select(RailwayStation.all, :id, :title) %>
  </div>

  <div class="actions">
    <%= submit_tag('Отправить') %>
  </div>
<% end %>