<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.title %>
</p>


  <% if @route.trains.empty? %>
    <p>Поездов на маршруте нет</p>
  <% else %>
    <p><strong>Список поездов на маршруте:</strong></p>
    <ul>
      <% @route.trains.each do |train| %>
          <li><%= train.number %></li>
      <% end %>
    </ul>
  <% end %>

<% if @route.railway_stations.empty? %>
    <p>Нет станций у маршрута</p>
<% else %>
    <p><strong>Список станций:</strong></p>
    <ul>
      <% @route.railway_stations.sorted.each do |station| %>
          <li><%= station.title %></li>
      <% end %>
    </ul>
<% end %>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
