<!DOCTYPE html>
<html>
  <head>
    <title>TuTu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">TuTu</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Поиск', search_path, :class => 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Билеты', tickets_path, :class => 'nav-link' %>
          </li>
          <% if user_signed_in? && current_user.admin? %>
            <li class="nav-item">
              <%= link_to 'Поезда', admin_trains_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Станции', admin_railway_stations_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Маршруты', admin_routes_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Вагоны', admin_carriages_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Пользователи', admin_users_path, :class => 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <span class="navbar-text">
          <% if user_signed_in? %>
            Привет, <%= current_user.name %>! Аккаунт: <%= current_user.email %> | <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Войти', new_user_session_path %>
          <% end %>
        </span>
      </div>
    </nav>
  </header>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <p>&copy; 2017 Anatoly Stupin. Учебный проект в <a href="http://www.thinknetica.com/" target="_blank">онлайн-школе Thinknetica</a></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
